.cm-s-MirageMDE {
	.cm-tag {
		color: #63a35c;
	}

	.cm-attribute {
		color: #795da3;
	}

	.cm-string {
		color: #183691;
	}

	.cm-header-1,
	.cm-header-2,
	.cm-header-3,
	.cm-header-4,
	.cm-header-5,
	.cm-header-6 {
		font-weight: 600;
		line-height: 1.25;
	}

	.cm-header-1 {
		font-weight: 600;
		font-size: 2em;
	}

	.cm-header-2 {
		font-weight: 600;
		font-size: 1.5em;
	}

	.cm-header-3 {
		font-weight: 600;
		font-size: 1.25em;
	}

	.cm-header-4 {
		font-weight: 600;
		font-size: 1em;
	}

	.cm-header-5 {
		font-weight: 600;
		font-size: .875em;
	}

	.cm-header-6 {
		font-weight: 600;
		font-size: .85em;
		color: #8b949e;
	}

	.cm-comment {
		background: rgba(0, 0, 0, .05);
		border-radius: 2px;
	}

	.cm-link {
		color: #7f8c8d;
	}

	.cm-url {
		color: #aab2b3;
	}

	.cm-quote {
		color: #7f8c8d;
		font-style: italic;
	}
}

span[data-img-src]::after {
	content: '';
	background-image: var(--bg-image);
	display: block;
	max-height: 100%;
	max-width: 100%;
	background-size: contain;
	height: 0;
	padding-top: var(--height);
	width: var(--width);
	background-repeat: no-repeat;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
	background: rgba(255, 0, 0, .15);
}


.cm-s-default .cm-header {
	color: #00f;
}

.cm-s-default .cm-quote {
	color: #090;
}

.cm-negative {
	color: #d44;
}

.cm-positive {
	color: #292;
}

.cm-header,
.cm-strong {
	font-weight: 700;
}

.cm-em {
	font-style: italic;
}

.cm-link {
	text-decoration: underline;
}

.cm-strikethrough {
	text-decoration: line-through;
}

.cm-s-default .cm-keyword {
	color: #708;
}

.cm-s-default .cm-atom {
	color: #219;
}

.cm-s-default .cm-number {
	color: #164;
}

.cm-s-default .cm-def {
	color: #00f;
}

.cm-s-default .cm-variable-2 {
	color: #05a;
}

.cm-s-default .cm-type,
.cm-s-default .cm-variable-3 {
	color: #085;
}

.cm-s-default .cm-comment {
	color: #a50;
}

.cm-s-default .cm-string {
	color: #a11;
}

.cm-s-default .cm-string-2 {
	color: #f50;
}

.cm-s-default .cm-meta {
	color: #555;
}

.cm-s-default .cm-qualifier {
	color: #555;
}

.cm-s-default .cm-builtin {
	color: #30a;
}

.cm-s-default .cm-bracket {
	color: #997;
}

.cm-s-default .cm-tag {
	color: #170;
}

.cm-s-default .cm-attribute {
	color: #00c;
}

.cm-s-default .cm-hr {
	color: #999;
}

.cm-s-default .cm-link {
	color: #00c;
}

.cm-s-default .cm-error {
	color: red;
}

.cm-invalidchar {
	color: red;
}

.CodeMirror-composing {
	border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #a22;
}

.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, .3);
}

.CodeMirror-activeline-background {
	background: #e8f2ff;
}