* {
	box-sizing: border-box;
}

:host {
	--mmde-selected-text-highlight: rgba(255, 255, 255, 0.25);
}

:host {
	display: grid;
	overflow: hidden;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Noto Sans", Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

	color: var(--mmde-color);
	border: var(--mmde-border);
	border-bottom: none;
	background-color: var(--mmde-background-color);
}